<!-- <div class="OuterWrap">
    <div class="InnerWrap">
        <div class="ImgCards" id="ImgCards" #ImgCards data-XCoor="300" data-YCoor="300" style="background-image: url(https://images.unsplash.com/photo-1681829459062-d1247bdf9bd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);">
            <h1>Hello, World!</h1>
        </div>
        <div class="ImgCards2" id="ImgCards" #ImgCards2 data-XCoor="0" data-YCoor="220" style="background-image: url(https://images.unsplash.com/photo-1682443851034-268912d3f5e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=647&q=80);">
            <h1>Hello, World!</h1>
        </div>
        <div class="ImgCards" id="ImgCards" #ImgCards data-XCoor="0" data-YCoor="0" style="background-image: url(https://images.unsplash.com/photo-1682444395632-03d11ec92b17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);">
            <h1>Hello, World!</h1>    
        </div>
        <div class="ImgCards" id="ImgCards" #ImgCards data-XCoor="0" data-YCoor="0" style="background-image: url(https://images.unsplash.com/photo-1680526092287-ce094b75ac03?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);">
            <h1>Hello, World!</h1>        
        </div>
        <div class="ImgCards" id="ImgCards" #ImgCards data-XCoor="0" data-YCoor="0" style="background-image: url(https://images.unsplash.com/photo-1681928676479-d6b689b21406?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=719&q=80);">
            <h1>Hello, World!</h1>
        </div>
        <div class="ImgCards" id="ImgCards" #ImgCards data-XCoor="0" data-YCoor="0" style="background-image: url(https://images.unsplash.com/photo-1681329034793-986cbd3c5bd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);">
            <h1>Hello, World!</h1>
        </div>
        <div class="ImgCards" id="ImgCards" #ImgCards data-XCoor="0" data-YCoor="0" style="background-image: url(https://images.unsplash.com/photo-1682763303696-4505671f19b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80);">
            <h1>Hello, World!</h1>
        </div>
    </div>  
</div> -->

<div class="OuterWrap">
    <div class="InnerWrap" id="TT2" #ImgCards >
        <div class="ImgCards" value="1" id="ImgCards" style="color:lightgreen; font-size: 1.5rem;"> 0 </div>
        <div class="ImgCards" value="2" id="ImgCards" style="color:lightgreen; font-size: 1.5rem;"> 1 </div>
        <div class="ImgCards" value="3" id="ImgCards" style="color:lightgreen; font-size: 1.5rem;"> 2 </div>
        <!-- <div class="ImgCards" value="4" id="ImgCards" style="color:chartreuse; font-size: 1.5rem;"> 3 </div>
        <div class="ImgCards" value="5" id="ImgCards" style="color:chartreuse; font-size: 1.5rem;"> 4 </div>
        <div class="ImgCards" value="6" id="ImgCards" style="color:chartreuse; font-size: 1.5rem;"> 5 </div>
        <div class="ImgCards" value="7" id="ImgCards" style="color:chartreuse; font-size: 1.5rem;"> 6 </div> -->
    </div>  
</div>
